In [1]:
'''
%pip install matplotlib
%pip install seaborn
%pip install scikit-learn
''';

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
input_file = "./projects.csv"
raw = pd.read_csv(input_file)
raw.head()

   project_id project_name  team_size  budget workload  completion_time
0           1     Crawford          4   14000        L              3.0
1           2     Espinoza          3   20000        S              2.0
2           3       Thomas          5   52000        L              4.0
3           4        Kille          2   98000        S              2.0
4           5     Harrison          7   69000        M              3.0

In [4]:
data = raw.copy()
data["workload"] = [1 if x == "S" else 2 if x == "M" else 3 for x in data["workload"]]
data.info(); data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   project_id       1000 non-null   int64
 1   project_name     1000 non-null   object
 2   team_size        1000 non-null   int64
 3   budget           1000 non-null   int64
 4   workload         1000 non-null   int64
 5   completion_time  1000 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 47.0+ KB

        project_id    team_size         budget     workload  completion_time
count  1000.000000  1000.000000    1000.000000  1000.000000      1000.000000
mean    500.500000     3.987000   49945.000000     1.974000         2.708000
std     288.819436     1.622178   29041.718207     0.814855         1.104516
min       1.000000     1.000000    1000.000000     1.000000         1.000000
25%     250.750000     3.000000   24000.000000     1.000000         2.000000
50%     500.500000     4.000000   49000.000000     2.000000         3.000000
75%     750.250000     5.000000   75000.000000     3.000000         3.000000
max    1000.000000    10.000000  100000.000000     3.000000         7.000000

In [5]:
data_features = data[["team_size", "budget", "workload"]].copy()
data_target = data[["completion_time"]].copy()

In [6]:
data_train, data_test, label_train, label_test = train_test_split(data_features, data_target, test_size=0.2, random_state=1)
model = LinearRegression()
model.fit(data_train, label_train) 
label_predict = model.predict(data_test)
[model.score(data_train, label_train), model.score(data_test, label_test)]

[0.6535632687879853, 0.7065487015744547]

In [7]:
pickle.dump(model, open('model.pkl','wb'))

In [12]:
input_data = {"team_size": 4, "budget": 20000, "workload": 3}
input_df = pd.DataFrame([input_data])
input_df[["team_size", "budget", "workload"]]

   team_size  budget  workload
0          4   20000         3