In [45]:
'''
%pip install matplotlib
%pip install seaborn
%pip install scikit-learn
''';

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [47]:
input_file = "./projects.csv"
raw = pd.read_csv(input_file)
raw.head()

   project_id  team_size  budget workload  completion_time
0           1          4   31000        M              3.0
1           2          3   14000        L              2.0
2           3          5   51000        M              4.0
3           4          2   20000        S              2.0
4           5          7    9000        S              3.0

In [48]:
data = raw.copy()
data["workload"] = [1 if x == "S" else 2 if x == "M" else 3 for x in data["workload"]]
data.info(); data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   project_id       1000 non-null   int64
 1   team_size        1000 non-null   int64
 2   budget           1000 non-null   int64
 3   workload         1000 non-null   int64
 4   completion_time  1000 non-null   float64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

        project_id    team_size         budget    workload  completion_time
count  1000.000000  1000.000000    1000.000000  1000.00000      1000.000000
mean    500.500000     3.987000   50657.000000     1.99900         2.708000
std     288.819436     1.622178   28617.762444     0.81096         1.104516
min       1.000000     1.000000    1000.000000     1.00000         1.000000
25%     250.750000     3.000000   25000.000000     1.00000         2.000000
50%     500.500000     4.000000   52000.000000     2.00000         3.000000
75%     750.250000     5.000000   76000.000000     3.00000         3.000000
max    1000.000000    10.000000  100000.000000     3.00000         7.000000

In [49]:
data_features = data[["team_size", "budget", "workload"]].copy()
data_target = data[["completion_time"]].copy()

In [50]:
data_train, data_test, label_train, label_test = train_test_split(data_features, data_target, test_size=0.3, random_state=1)
model = LinearRegression()
model.fit(data_train, label_train) 
label_predict = model.predict(data_test)
model.score(data_test, label_test)

0.6997950381811806

In [51]:
pickle.dump(model, open('model.pkl','wb'))